@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #06b6d4;
  --color-bg: #ffffff;
  --color-text: #111827;
}

/* DARK MODE */
[data-theme="dark"] {
  --color-bg: #0f172a;
  --color-text: #f8fafc;
}
